.container-actualites {
  background: linear-gradient(to right, rgb(221 205 221), rgb(235 192 228));
  min-height: calc(100vh - 73px);
  .container-header-center {
    display: flex;
    justify-content: center;
    .container-header-actu {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-top: 50px;
      flex-direction: row;
      transition: all 0.2s;
      h2 {
        color: white;
        text-shadow: 1px 1px 1px rgba(52, 52, 52, 1);
      }
      .container-search {
        .form-search {
          display: flex;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          border-radius: 10px;

          input {
            padding: 6px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border: none;
            &:focus {
              outline: none;
            }
          }
          button {
            color: white;
            background-color: rgb(237, 69, 157);
            position: relative;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            border: none;
            padding: 0 2px;
            cursor: pointer;
            &:active {
              background-color: rgb(236, 8, 126);
            }
          }
        }
      }
    }
  }
}

.container-all-actu {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ajax-load-more-wrap {
    // min-height: 100vh;
    width: 70%;
    transition: all 0.2s;
    .alm-btn-wrap {
      display: flex;
      justify-content: center;
    }
    li {
      background-color: #ffffff;
      border-radius: 25px;
      height: 280px;
      margin: 20px 0px;
      overflow: hidden;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 1px 2px 5px 0px,
          rgba(0, 0, 0, 0.3) 1px 2px 5px -1px;
      }
      a {
        text-decoration: none !important;
        color: #181402;
        &:hover img {
          transform: scale(1.05);
          transition: 0.2s;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
        &:hover h2 {
          color: rgb(222, 66, 141) !important;
          transition: 0.2s;
        }
        article {
          display: flex;
          flex-direction: row;
          height: 100%;
          figure {
            overflow: hidden;
            width: 100%;
            display: contents;
            img {
              width: 320px;
              height: 100%;
              object-fit: cover;
              transition: 0.4s;
            }
          }
          .content-actu {
            padding: 20px;
            padding-top: 40px;
            padding-left: 40px;
            flex: 65%;
            position: relative;
            transition: all 0.2s;
            .date {
              color: rgb(222, 66, 141) !important;
              margin-bottom: 8px;
              position: absolute;
              right: 20px;
              bottom: 0;
            }
            h2 {
              color: black;
              font-size: 25px;
              cursor: pointer;
              margin-bottom: 10px;
              transition: 0.4s;
            }
            p {
              color: black;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.more-actu {
  display: flex;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  transition: all 0.2s;
  animation: btnspawn 0.2s 1s forwards;
  color: rgb(184, 14, 107);
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  margin-bottom: 1rem;
  opacity: 0;
  &.done {
    display: none !important;
  }
  &:hover {
    transform: scale(1.05);
  }
}
@keyframes btnspawn {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1380px) {
  .ajax-load-more-wrap,
  .container-header-actu {
    width: 80% !important;
  }
}

@media screen and (max-width: 1150px) {
  .ajax-load-more-wrap,
  .container-header-actu {
    width: 90% !important;
  }
}

@media screen and (max-width: 1050px) {
  .content-actu {
    padding-top: 20px !important;
  }
  .ajax-load-more-wrap,
  .container-header-actu {
    width: 95% !important;
  }
}

@media screen and (max-width: 925px) {
  article {
    flex-direction: column !important;
    figure {
      img {
        width: 100% !important;
        max-height: 500px;
      }
    }
    .content-actu {
      padding-left: 20px;
      h2 {
        text-align: center;
      }
      p {
        padding-bottom: 6px;
        text-align: justify;
      }
    }
  }
  .ajax-load-more-wrap,
  .container-header-actu {
    width: 60% !important;

    li {
      height: auto !important;
    }
  }
}
@media screen and (max-width: 750px) {
  .ajax-load-more-wrap,
  .container-header-actu {
    width: 70% !important;
  }
}
@media screen and (max-width: 550px) {
  .ajax-load-more-wrap,
  .container-header-actu {
    width: 90% !important;
  }
}

.title-result{
  padding-top: 12px;
}